@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #eaeef6;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.app {
  width: 100%;
  height: 100vh;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .app {
    height: auto;
  }
}
